html {
    transform: translate3d(0, 0, 0);
    font-smooth: never;
    -webkit-font-smoothing: none
}
body {
    font: 8pt/1.1"MS Sans Serif", "Microsoft Sans Serif", Tahoma, Verdana, sans-serif;
    background: teal;
    display: table;
    margin: 0
}
html,
body,
main {
    width: 100%;
    height: 100%
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-smooth: inherit;
    -webkit-font-smoothing: inherit;
    -webkit-text-size-adjust: 100%
}
a {
    color: inherit;
    text-decoration: none;
    cursor: default
}
.clear {
    clear: both
}
.shortcut {
    text-decoration: underline
}
main {
    display: table-cell;
    vertical-align: middle
}
#container {
    width: 400px;
    margin: 0 auto;
    background: #b5bab5;
    padding: 1px 0 12px 0
}
header {
    background: #00046b;
    background: linear-gradient(to right, #00046b, #9cc3d6);
    color: #fff;
    padding: 3px;
    margin: 0 1px
}
article {
    background: url(data:image/gif;base64,R0lGODlhIAAgAPIDAHsAAHt7e/8AAP///wAAAAAAAAAAAAAAACH5BAEAAAQAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACAAIAAAA6tIukzw8LVJFxQ4Y1g70CAIdM0TnplEfmi7eW4sjBQro0Aw2dng+iKdJTQooopADU3BEyCNoGdyI3QQnxppKKdr9rBO8Lbbkmpx5LJ5Og54o+cW952No92/tWuuXrOVAXgnZ3aAaXVIiFCGhxiFYYmMVnB/jospgUNRP21VkzcnXJmaoJ07pUGjO3Q4op4NgjKurxNuJqEPgbokDIEREbq7vLDBxcHDHcaqFQkAOw==) 0 0 no-repeat;
    margin: 12px 12px 0 12px;
    padding-left: 43px
}
aside {
    float: right
}
a[role="button"] {
    display: block;
    width: 70px;
    line-height: 18px;
    margin: 12px 12px 0 0;
    padding: 1px;
    text-align: center;
    background: #b5bab5
}
#container,
a[role="button"],
#details {
    position: relative;
    border: 1px solid gray;
    border-top-color: #fff;
    border-left-color: #fff
}
#container: before, a[role="button"]: before, #details: before {
    display: block;
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 1px solid #000;
    border-top-color: #d2dcd2;
    border-left-color: #d2dcd2;
    pointer-events: none
}
#button-close {
    margin-bottom: 33px
}
a[role="button"]: focus: before {
    outline: 1px solid #000
}
.show-details #button-details[role="button"] {
    color: gray;
    text-shadow: 1px 1px 0 #fff
}
a[role="button"]: active, #details {
    border: 1px solid #fff;
    border-top-color: gray;
    border-left-color: gray
}
a[role="button"]: active {
    padding: 2px 0 0 2px
}
a[role="button"]: active: before, #details: before {
    border: 1px solid #d2dcd2;
    border-top-color: #000;
    border-left-color: #000;
    outline: 0
}
#details {
    margin: 10px 10px 0 10px;
    padding: 1px;
    min-height: 112px;
    font: 11px Courier, monospace
}
.js #details {
    display: none
}
.js .show-details #details {
    display: block
}
